.h1-only{
color: orange;
font-family: Arial, Helvetica, sans-serif;
font-size: 6em;
font-variant: small-caps;
font-weight:normal;
text-align: center;
text-shadow: 3px 3px #ff0000;
}
.h2-only{
color: burlywood;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 3em;
text-align: center;
text-shadow: 3px 3px #7eac71;
}
.h3-only{
color: honeydew;
font-family: Courier New, Courier, monospace;
font-size: 1.5em;
font-weight: normal;
text-indent: 40px;
text-shadow: 1.75px 1.75px #61c5ac
}
.para{
    color: rgb(11, 14, 216);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-indent: 60px;
    font-weight: 
}
body{
background-color: olive;
}
